.breadcrumbs {
	padding-top: 33px;
	font-family: $links-font;
	&-item {
		&::after {
			content: '|';
			color: $gray-700;
		}
		& a {
			color: $dark-300;
			@include font(1.6rem, calc(30 / 16));
		}
		&_last {
			&::after {
				content: none;
			}
			& span {
				color: $gray-700;
				@include font(1.6rem, calc(30 / 16));
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.breadcrumbs {
		padding-top: 20px;
		&-item {
			& a {
				@include font(1.3rem, calc(20 / 13));
			}
			&_last {
				& span {
					@include font(1.3rem, calc(20 / 13));
				}
			}
		}
	}
}
