.btn {
	display: inline-block;
	font-family: $links-font;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	@include font(1.5rem, calc(26 / 15));
	font-weight: 400;
	color: $dark-300;
	border: 2px solid $red-300;
	padding: 1em 3.5em 0.9333em 3.5em;
	&:hover {
		background: $red-300;
		color: $white;
	}
	&:active {
		opacity: 0.8;
	}
	&_green {
		border: 2px solid $green-600;
		&:hover {
			background: $green-600;
			color: $white;
		}
	}
}
