.home-catalog {
	&__wrapper {
		padding-top: 58px;
	}
	&__top {
		@include flex(row, center, space-between);
		margin-bottom: 36px;
	}
	&__prev {
		margin-right: 30px;
	}
	&__btn {
		padding-left: 2.5em;
		padding-right: 2.5em;
		&-wrapper {
			margin-top: 42px;
			text-align: center;
		}
	}
}
