.home-main {
	&__slide {
		position: relative;
		& img:first-child {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			object-fit: contain;
		}
		&-first {
			& .slide-text {
				padding: 75px 0;
				padding-bottom: 238px;
				max-width: 422px;
				margin-left: auto;
				margin-right: 48px;
			}
		}
	}
	&__swiper {
		& .swiper-pagination {
			bottom: 39px;
		}
	}
}
