.link {
	font-family: $links-font;
	@include font(1.6rem, calc(20 / 16));
	text-decoration: none;
	color: $dark-300;
	&:hover {
		opacity: 0.8;
	}
	&-green {
		color: $green-600;
		font-family: $links-font;
		@include font(1.6rem, calc(24 / 16));
		text-decoration: none;
		&:hover {
			opacity: 0.8;
		}
	}
	&-arrow {
		display: inline-block;
		font-family: $links-font;
		position: relative;
		padding-right: 38px;
		@include font(1.6rem, calc(22 / 16));
		color: $green-500;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 5px;
			width: 28px;
			height: 13px;
			background: icon('green-arrow.svg') no-repeat 50% / cover;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}
