.product-info {
	& .container {
		padding: 50px 0;
		border-top: 1px solid rgba($gray-700, 0.3);
	}
	&__title {
		margin-bottom: 15px;
	}
	&__block {
		& p {
			max-width: 528px;
			font-family: $links-font;
			@include font(1.6rem, calc(24 / 16));
			margin: 0;
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.product-info {
		& .container {
			padding: 0;
			border: none;
		}
		&__title {
			margin-bottom: 10px;
			@include font(1.8rem, calc(28 / 18));
		}
		&__block {
			padding: 20px 0;
			padding-bottom: 24px;
			border-top: 1px solid rgba($gray-700, 0.3);
			& p {
				@include font(1.2rem, calc(18 / 12));
				max-width: none;
				margin-bottom: 18px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.product-info {
		& .container {
			padding: 0 15px;
		}
	}
}
