.product-additional {
	& .container {
		padding: 45px 15px;
		padding-bottom: 48px;
		border-top: 1px solid rgba($gray-700, 0.3);
	}
	&__block {
		& p {
			margin: 0;
			font-family: $links-font;
			@include font(1.6rem, calc(24 / 16));
		}
	}
}

@media screen and (max-width: 991px) {
	.product-additional {
		& .container {
			padding: 0;
			border: none;
		}
		&__block {
			padding: 22px 0;
			padding-bottom: 33px;
			border-top: 1px solid rgba($gray-700, 0.3);
			& p {
				@include font(1.3rem, calc(18 / 12));
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.product-additional {
		& .container {
			padding: 0 15px;
		}
	}
}
