.product {
	&-main {
		&__wrapper {
			padding: 31px 0;
			padding-bottom: 26px;
		}
	}
	&-block {
		@include flex();
		justify-content: space-between;
		&__img {
			flex-shrink: 0;
			width: calc((500 / 1170) * 100%);
			&-main {
				width: 100%;
				margin-bottom: 14px;
				& img {
					width: 100%;
				}
				& .swiper-pagination {
					display: none;
				}
			}
		}
		&__thumb {
			&-wrapper {
				max-width: 300px;
				margin: 0 auto;
			}
			&-item {
				border: 1px solid $light-500;
				& img {
					cursor: pointer;
				}
			}
			& .swiper-slide-thumb-active {
				& .product-block__thumb-item {
					border-color: $green-600;
				}
			}
		}
		&__info {
			width: calc((635 / 1170) * 100%);
			background: $light-200;
			padding: 49px 70px 61px 65px;
			&-title {
				margin-bottom: 10px;
			}
			&-subtitle {
				display: inline-block;
				margin-bottom: 25px;
				font-style: italic;
				@include font(1.8rem, calc(28 / 18));
				color: $gray-600;
			}
			& p {
				font-family: $links-font;
				color: $dark-300;
				margin: 0;
				margin-bottom: 30px;
				@include font(1.8rem, calc(28 / 18));
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.product {
		&-main {
			&__wrapper {
				padding: 22px 0;
				padding-bottom: 33px;
			}
		}
		&-block {
			flex-direction: column;
			&__img {
				width: auto;
				max-width: 550px;
				margin: 0 auto;
				margin-bottom: 27px;
				&-main {
					margin-bottom: 0;
				}
			}
			&__info {
				width: auto;
				max-width: 100%;
				&-title {
					margin-bottom: 6px;
				}
				&-subtitle {
					@include font(1.3rem, calc(20 / 13));
					margin-bottom: 15px;
				}
				& p {
					@include font(1.3rem, calc(20 / 13));
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.product {
		&-block {
			&__thumb {
				&-wrapper {
					display: none;
				}
			}
			&__img {
				max-width: 100%;
				&-main {
					& .swiper-pagination {
						display: block;
						position: relative;
						bottom: auto;
						margin-top: 10px;
					}
				}
			}
			&__info {
				padding: 31px 19px;
			}
		}
	}
}
