.product-additional {
	& .container {
		position: relative;
		padding-top: 45px;
		padding-bottom: 48px;
		// border-top: 1px solid rgba($gray-700, 0.3);
		&::before {
			content: '';
			position: absolute;
			width: calc(100% - 30px);
			bottom: 100%;
			left: 15px;
			background: rgba($gray-700, .3);
			height: 1px;
		}
	}
	&__block {
		& p {
			margin: 0;
			font-family: $links-font;
			@include font(1.6rem, calc(24 / 16));
		}
	}
}

@media screen and (max-width: 991px) {
	.product-additional {
		& .container {
			padding-top: 0;
			padding-bottom: 0;
			// border: none;
			&::before {
				content: none;
			}
		}
		&__block {
			padding: 22px 0;
			padding-bottom: 33px;
			border-top: 1px solid rgba($gray-700, 0.3);
			& p {
				@include font(1.3rem, calc(18 / 12));
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.product-additional {
		& .container {
			// padding: 0 15px;
		}
	}
}
