.secrets {
	&-wrapper {
		padding-top: 60px;
	}
	&-block {
		background: $light-200;
		display: flex;
	}
	&-text {
		padding: 60px 53px 62px 70px;
		max-width: calc(600 / 1170 * 100%);
		&__title {
			max-width: 454px;
			margin-bottom: 15px;
		}
		& p {
			font-family: $links-font;
			margin: 0;
			@include font(1.8rem, calc(28 / 18));
			color: $dark-400;
		}
		& .link-arrow {
			margin-top: 20px;
		}
	}
}
