.secrets {
	&-wrapper {
		padding-top: 60px;
	}
	&-block {
		background: $light-200;
		@include flex();
		align-items: stretch;
	}
	&-text {
		padding: 60px 53px 62px 70px;
		max-width: calc(600 / 1170 * 100%);
		&__title {
			max-width: 454px;
			margin-bottom: 15px;
		}
		& p {
			font-family: $links-font;
			margin: 0;
			@include font(1.8rem, calc(28 / 18));
			color: $dark-400;
		}
		& .link-arrow {
			margin-top: 20px;
		}
	}
	&-img {
		flex: 1;
		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@media screen and (max-width: 991px) {
	.secrets {
		&-wrapper {
			padding-top: 36px;
		}
		&-block {
			flex-direction: column;
		}
		&-img {
			width: 100%;
			& img {
				width: 100%;
			}
		}
		&-text {
			max-width: none;
			&__title {
				@include flex(2rem, calc(28 / 20));
				margin-bottom: 12px;
			}
			& p {
				@include font(1.3rem, calc(20 / 13));
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.secrets {
		&-text {
			padding: 31px 19px;
			&__title {
				max-width: 285px;
			}
			& .link-arrow {
				margin-top: 12px;
			}
		}
	}
}
