.slide {
	&-text {
		position: relative;
		&__title {
			margin-bottom: 12px;
		}
		&__subtitle {
			display: block;
			font-style: italic;
			color: $gray-600;
			margin-bottom: 71px;
			@include font(2rem, calc(24 / 20));
		}
	}
}
