.slide {
	&-text {
		position: relative;
		&__title {
			margin-bottom: 12px;
		}
		&__subtitle {
			display: block;
			font-style: italic;
			color: $gray-600;
			margin-bottom: 51px;
			@include font(2rem, calc(24 / 20));
		}
	}
}

@media screen and (max-width: 991px) {
	.slide {
		&-text {
			&__subtitle {
				@include font(1.3rem, calc(18 / 13));
				margin: 0;
			}
		}
	}
}
