.footer {
	font-family: $links-font;
	&-wrapper {
		padding-top: 50px;
		padding-bottom: 58px;
		border-top: 1px solid rgba($gray-700, 0.3);
	}
	&__note {
		& p {
			margin: 0;
			@include font(1.6rem, calc(24 / 16));
			color: $dark-300;
		}
		& p:nth-child(2) {
			margin-bottom: 24px;
		}
	}
	&-navigation {
		&__list {
			margin: 0;
			list-style: none;
			padding: 0;
		}
		&__item {
			margin-bottom: 13px;
			&:last-child {
				margin-bottom: 0;
			}
			& a {
				color: $dark-300;
				@include font(1.6rem, calc(20 / 16));
				letter-spacing: 0.03em;
				font-weight: 600;
			}
		}
	}
	&-social {
		@include flex(column);
		&__wrapper {
			@include flex(row, flex-start, flex-end);
		}
		& p {
			margin: 0;
			margin-bottom: 8px;
		}
		&__icons {
			@include flex();
		}
		&__icon {
			margin-right: 19px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	&-bottom {
		padding-top: 25px;
	}
	&-organic,
	&-logic {
		& p {
			margin: 0;
			color: $gray-700;
			@include font(1.6rem, calc(22 / 16));
		}
	}
	&-logic p {
		text-align: right;
	}
}

.home-footer {
	& .footer-wrapper {
		padding-top: 65px;
		padding-bottom: 56px;
		border: none;
	}
}

@media screen and (max-width: 991px) {
	.footer {
		&-wrapper {
			padding: 31px 0;
			padding-bottom: 34px;
		}
		&__note {
			max-width: 150px;
			& p {
				@include font(1.3rem, calc(20 / 13));
			}
		}
		&-navigation {
			&__item {
				margin-bottom: 12px;
				&:last-child {
					margin-bottom: 0;
				}
				& a {
					@include font(1.3rem, calc(16 / 13));
				}
			}
		}
		&-social {
			&__wrapper {
				margin-top: 27px;
				justify-content: flex-start;
			}
			& p {
				@include font(1.3rem, calc(20 / 13));
			}
			&__icon {
				margin-right: 13px;
				&:last-child {
					margin-right: 0;
				}
				& svg {
					max-width: 24px;
				}
			}
		}
		&-bottom {
			padding-top: 22px;
		}
		&-logic,
		&-organic {
			& p {
				text-align: left;
				@include font(1.3rem, calc(18 / 13));
			}
		}
	}

	.home-footer {
		& .footer-wrapper {
			padding: 35px 0;
		}
	}
}
