.header {
	&-wrapper {
		padding: 25px 0;
		padding-bottom: 29px;
		border-bottom: 1px solid rgba($gray-700, 0.3);
	}
	&-content {
		@include flex(row, flex-end, space-between);
	}
	&-navigation {
		&__list {
			margin: 0;
			list-style: none;
			@include flex();
		}
		&__item {
			text-transform: uppercase;
			margin-right: 40px;
			&:last-child {
				margin-right: 0;
			}
			&_active {
				& a {
					color: $green-600;
					font-weight: 700;
				}
			}
		}
	}
}

.home-header {
	& .header-wrapper {
		border: none;
	}
}
