.header {
	background: $white;
	&-wrapper {
		padding: 25px 0;
		padding-bottom: 29px;
		border-bottom: 1px solid rgba($gray-700, 0.3);
	}
	&-content {
		@include flex(row, flex-end, space-between);
	}
	&-navigation {
		&__list {
			margin: 0;
			list-style: none;
			@include flex();
		}
		&__item {
			margin-right: 40px;
			@include font(1.8rem, calc(20 / 18));
			font-weight: 600;
			letter-spacing: 0.03em;
			&:last-child {
				margin-right: 0;
			}
			&_active {
				& a {
					color: $green-600;
				}
			}
		}
	}
}

.home-header {
	& .header-wrapper {
		border: none;
	}
}

@media screen and (max-width: 991px) {
	.header {
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 10;
		&-wrapper {
			padding: 15px 0;
			padding-bottom: 19px;
		}
		&-logo {
			& svg {
				max-width: 76px;
				max-height: 40px;
			}
		}
	}
}
