// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Base
$font: 'SourceSansPro', sans-serif;
$links-font: 'SourceSerifPro' serif;
$base-font-size: 16px;
$base-path: '../';

// Colors
$white: #fff;
$black: #000;
$dark-300: #333;
